* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  /* font-family: Inter, Arial, Helvetica, sans-serif; */
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.25;
  /* letter-spacing: 0.03rem; */

  --primary-color: #00c3bc;
  --screen-padding: 15px;
}

body > div#__nuxt {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: underline;
  color: #269391;
}

a:hover {
  color: #145857;
}

header,
main,
footer {
  padding: var(--screen-padding);
}

h1 {
  margin-bottom: 25px;
  font-size: 1;
}

h2 {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

section {
  margin-bottom: 30px;
}

hr {
  border: 1px dashed;
  margin-top: 10px;
  margin-bottom: 30px;
}

p {
  margin-bottom: 1rem;
}

ul {
  padding-left: 25px;
}

.content {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.img-container {
  background-image: url(/public/funk-studios.jpeg);
  background-size: cover;
  background-position: 100% 25%;
  position: relative;
}

.img-container .description {
  transition: opacity 0.25s ease-in-out 0s;
  opacity: 0;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
}

.img-container:hover .description {
  transition-delay: 0.2s;
  opacity: 100;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0ebea;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
}
