* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.03rem;
  padding: 15px;
}

header {
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav {
  width: 100%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
