* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.03rem;
}

body > div#__nuxt,
body > div#__nuxt > div {
  height: 100%;
}

body > div#__nuxt > div {
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  padding: 15px;
}

header {
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav {
  width: 100%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.logo {
  font-weight: 500;
}

main {
  flex-grow: 1;
}

footer {
  height: 40px;
  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
